// variables, mixins, functions, placeholders

$color__primary--black: "#000000";
$color__secondary--black: "#333333";
$color__primary--grey: "#BDBDBD";

$font__secondary: 'Gothic A1', sans-serif;

@font-face {
    font-family: 'Mont';
    src: url('../fonts/Mont-Regular.eot');
    src: local('Mont Regular'), local('Mont-Regular'),
        url('../fonts/Mont-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mont-Regular.woff2') format('woff2'),
        url('../fonts/Mont-Regular.woff') format('woff'),
        url('../fonts/Mont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}