@import "../sass/abstracts", "../sass/base";

.Grid {
    @include breakpoint(lg){ padding: 40px;}
    //min-height: 80vh;
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: auto;

    @include grid(12, 6);
    grid-template-areas: 
        'slider slider slider slider slider slider slider slider slider slider sidebar sidebar'
        'slider slider slider slider slider slider slider slider slider slider sidebar sidebar'
        'slider slider slider slider slider slider slider slider slider slider sidebar sidebar'
        'slider slider slider slider slider slider slider slider slider slider sidebar sidebar'
        'slider slider slider slider slider slider slider slider slider slider sidebar sidebar'
        'slider slider slider slider slider slider slider slider slider slider sidebar sidebar';  
}