@import '../sass/abstracts';

.IconsPanel {
    grid-area: icons;
    align-self: end;

    svg {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 24px 0;

        &:hover {
            fill: $color__black--secondary;

        }
    }
}