@import "../sass/abstracts", "../sass/base";

.Sidebar {
    grid-area: sidebar;
    justify-items: center;
    @include grid(2, 6);
    grid-template-areas: 
        'menu menu'
        'menu menu'
        'logo logo'
        'logo logo'
        'logo logo'
        'icons icons';
    padding: 0 0 80px 0;

    &__image {
        &--menu {
            grid-area: menu;
            align-self: start;
        }
        &--logo {
            grid-area: logo;
            align-self: center;
        }
    }
    

}