@import "../sass/abstracts", "../sass/base";

.Sidebar {
    grid-area: sidebar;
    justify-items: center;
    display: grid;

    &__image {
        &--icon {
            grid-column: span 2;
            grid-rows: 1 / span 2;
        }
        &--logo {
            grid-column: span 2;
            grid-rows: 3 / span 3;
        }
    }
    

}