@import "../sass/abstracts", "../sass/base";

.Slide {
    $slide: "Slide";

    @at-root &r {
        grid-row: 1 / span 6;
        grid-column: 1 /span 10;

        //.Slider .Slide
        .#{$slide}{ 
            height: 100%;
            @include flexbox;
            flex-wrap: nowrap;
            flex-direction: row;

            &__info {
                flex-basis: 50%;

                &--location{
                    align-self: flex-start;
                }
                &--title{
                    align-self: center;
                }
            }

            &__content {
                flex-basis: 50%;
            }
        }

    }

}